beautifulsoup4
ebooklib
fastapi
feedgen
feedparser
jiwer
joblib
langdetect
lexical-diversity
nltk
numpy
openai
pandas
pyyaml
requests
scikit-learn
sentence-transformers
spacy==3.7.4
textblob
textstat
tqdm
uvicorn
typer<0.10.0
